* {
    font-family: cursive;
}

h1{
    color: red;
}

li.todoItem::marker {
    color: green;
    font-size: 22px;
}

span {
    color: blue;
    font-size: 24px;
}

span:hover {
    cursor: pointer;
    color: rgb(142, 94, 189);
}

span.del {
    color: red;
    font-size: 16px;
}

span.del:hover {
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    font-size: 22px;
    color: gray;
    font-style: italic;
}
.not {
    text-decoration: underline;
}

h2 {
    color: rgb(74, 44, 44);
}

h2::first-letter {
    text-transform: uppercase;
}

form {
    margin-bottom: 16px;
}

form [type="text"] {
    height: 34px;
    /* border: 1px solid white; */
}

input {
    font-size: 20px;
    padding-left: 10px;
}

form input[type="text"]::placeholder {
    color: rgb(195, 181, 181);
    font-size: .9rem;
    font-style: italic;
    /* padding-left: 2px; */
}

form [type="submit"] {
    color: blue;
    height: 40px;
    width: 100px;
}

form [type="submit"]:hover {
    cursor: pointer;
    font-size: .98rem;
    color: rgb(142, 94, 189);
    font-style: italic;
}

a {
    font-size: 25px;
    margin-left: 115px;
}

a:hover {
    color: rgb(142, 94, 189);
    cursor: pointer;
    font-style: italic;
}